/* Style de l'overlay de chargement */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10050;
}

.loading-spinner {
    color: #fff;
    font-size: 3rem;
}

/* Overlay de chargement spécifique au calendrier */
.calendar-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#map {
    width: 100% !important;
    max-height: 80vh;
    aspect-ratio: 16/9; /* Garde un bon ratio d'affichage */
}

.mapboxgl-canvas {
    width: 100% !important;
    height: 100% !important;
}

.modal-dialog {
    max-width: 90vw; /* Pour éviter que la modal soit trop réduite */
}

.modal-body {
    display: flex;
    flex-direction: column;
    height: auto;
}

.tech-only-sidebar {
    display: none !important;
}
